body {
    display: flex;
    justify-content: center;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);  
  }
  
.card {
    width: auto;
    height: auto;
    margin: auto 480px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.568);
    border-radius: 5px;
    
}

.cardel {
    width: 300px;  
}

.btn:hover {
    color: black;
    cursor: pointer;
}

#title {
    color: #008eff;
    font-weight: bold;
    font-size: xx-large;
}
